:root {
  --primary-color: #1f2937;
  --secondary-color: #6ee7b7;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.heading {
  text-align: center;
}

.container {
  width: 40%;
  margin: auto;
}

input,
label {
  text-align: center;
  display: block;
  margin: 0.2rem;
  width: 100%;
  padding: 1rem;
}

#check-button {
  margin: 1rem auto;
  display: block;
  padding: 0.5rem;
  background: transparent;
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

#paragraph {
  font-size: larger;
  font-weight: 800;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 40%;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
}

.footer div {
  margin-bottom: 0.9rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 2px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.2rem;
}

.link {
  text-decoration: none;
  padding: 0.4rem 1.2rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  input {
    width: 60%;
  }
  #check-btn {
    width: 80%;
  }
  .footer {
    left: 5%;
  }
}
